<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Imagines Certae</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="toggleEditButton()" class="add-button cols-2" style="padding: 5px">
        <ion-icon name="hammer"></ion-icon>
      </button>
      <button ion-button icon-only (click)="toggleRemoveButton()" class="add-button cols-2" style="padding: 5px">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button icon-only (click)="addItem()" class="add-button cols-2" style="padding: 5px; margin-right: 10px;">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of dashboard">
      <div [ngStyle]="{ 'background': item.background }" class="div-item">

        <button *ngIf="customOptions.displayEditButton" ion-button icon-only (mousedown)="openModalEdit($event, item)"
          (touchstart)="openModalEdit($event, item)">
          <ion-icon name="hammer"></ion-icon>
        </button>
        <button *ngIf="customOptions.displayRemoveButton" ion-button icon-only (mousedown)="removeItem($event, item)"
          (touchstart)="removeItem($event, item)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </div>
    </gridster-item>
  </gridster>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons>
      <button ion-button icon-left (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>Select Image
      </button>
      <button ion-button icon-left (click)="uploadImage()" [disabled]="lastImage === null">
        <ion-icon name="cloud-upload"></ion-icon>Upload
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>